// .main{
//     background-color: #1B1D21;
//     height: 100%;
//     width: 100%;
//     color: #EEF2FFCC;
//     display: flex;
//     flex-direction:  column;

//     .logo-section {
//         height: 10%;
//     }
//     .menu-section{
//         height: 85%;
//     }
//     .bottom-section{
//         align-items: center;
//         height: 5%
//     }
// }
.sidebar {
    height: 100vh;
    background-color: #1B1D21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
  
    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      gap: 10px;
  
      img {
        width: 120px;
      }
  
      .admin-btn {
        border : 1px solid mix(#EEF2FF, transparent, 20%);
        color: white;
        border: none;
        padding: 6px 10px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  
    .menu {
      list-style: none;
      padding: 0;
      margin: 20px 0;
    
      li {
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s ease;
    
        img {
          width: 20px;
          height: 20px;
          margin-right: 12px;
          transition: transform 0.3s ease;
        }
    
        span {
          color: #bbb;
          transition: color 0.3s ease;
        }
    
        &:hover,
        &.active {
          background-color: #1ac6b8;
    
          span {
            color: #000;
          }
    
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    
  
    .theme-switch {
      display: flex;
      justify-content: space-around;
  
      .theme-btn {
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
        padding: 10px;
        transition: 0.3s ease;
  
        &.active {
          background-color: #1ac6b8;
          border-radius: 8px;
          color: black;
        }
      }
    }
  }
  