<div class="main">
  <div class="content-section">
    <div class="left-div">
      <div class="metrics-row" >
        <ng-container *ngFor="let metric of metricCardlistItems">
          <app-metric-card [listItems]="metric"></app-metric-card>
        </ng-container>
      </div>
      <div class="summary-cards">
        <!-- Top Violators Card -->
        <app-summary-card class ="summary-card"  title="Top violators" [listItems]="violatorsData" type="violators" period="This Year"
          [showViewAll]="true" viewAllLink="/all-violators">
        </app-summary-card>

        <!-- Overall Summary Card -->
        <app-summary-card class ="summary-card"  title="Overall summary" [listItems]="summaryData" type="summary" period="This Year"
          [showViewAnalytics]="true" viewAnalyticsLink="/analytics">
        </app-summary-card>

      </div>
    </div>

    <div class="right-div">
      <app-summary-card class ="summary-card" title="Top spending users" [listItems]="topSpendingUsersData" type="violators"
        period="This Month" [showViewAll]="false">
      </app-summary-card>
    </div>
  </div>

  <div class="bottom-section">
    <app-info-card [heading]="'Contact us'" [items]="contactItems">
    </app-info-card>
    <app-info-card [heading]="'Resources'" [items]="resourceItems">
    </app-info-card>
  </div>


</div>