<div class="metric-card">
    <div class="card-header">
      <span class="title">{{ listItems.title }}</span>
      <div class="icon">
        <img [src]= "'svgs/' + listItems.icon + '.svg'">
      </div>
    </div>
    
    <div class="card-value">{{ listItems.value }}</div>
    <span class="action-link">{{ listItems.actionText }}</span>
    <div class="card-footer">
      <div class="trend" [ngClass]="listItems.trendDirection === 'up' ? 'up' : 'down'">
        <span class="trend-value">{{listItems.trendValue }}%</span>
        <img [src] = "'svgs/' + listItems.trendDirection + '.svg'">
        <!-- <span class="trend-arrow">{{ listItems.trendDirection === 'up' ? '↑' : '↓' }}</span> -->
        <span class="trend-period">in last 30 days</span>
      </div>
    </div>
  </div>