<div class="top-navbar">
  <div class="left-section">
    <div class="tab-indicator"></div>
  </div>

  <div class="right-section">
    <!-- Add button with context menu -->
    <app-icon-button 
      iconSrc="svgs/add.svg" 
      ariaLabel="Add new item"
      (clicked)="toggleMenu($event)">
      <app-context-menu
        #contextMenu
        [menuItems]="addButtonMenuItems"
        (itemClicked)="handleMenuItemClick($event)">
      </app-context-menu>
    </app-icon-button>

    <!-- Notification button with badge -->
    <app-icon-button 
      iconSrc="svgs/notification.svg"
      [showBadge]="true"
      [badge]="notificationCount"
      badgeColor="#FF4A4A"
      ariaLabel="Notifications"
      [matMenuTriggerFor]="notificationMenu">
    </app-icon-button>
    
    <mat-menu #notificationMenu="matMenu">
      <app-notification-panel></app-notification-panel>
    </mat-menu>

    <!-- User profile -->
    <div class="user-profile">
      <img [src]="'users/'+ currentUser.id + '.jpg'" alt="User Profile">
      <span>{{ currentUser.name }}</span>
    </div>

    <!-- Profile dropdown button -->
    <app-icon-button 
      iconSrc="svgs/arrow-down.svg"
      ariaLabel="User menu"
      (clicked)="toggleProfileMenu($event)">
      <app-profile-dropdown
        #profileDropdown
        [user]="currentUser"
        [menuItems]="profileMenuItems">
      </app-profile-dropdown>
    </app-icon-button>
  </div>
</div>